body {
  background-color: grey;
}
header {
  background-color: rgb(10, 167, 106);
}
.main .row {
  margin-right: 0px;
  margin-left: 0px;
}
#aside-left {
  background-color: orange;
}
#center-div {
  background-color: #5f9ea0;
}
#aside-right {
  background-color: greenyellow;
  height: 800px;
}
#tv-box {
  align-items: center;
}
div .container {
  position: relative;
}
#aside-right {
  position: absolute;
}
#tv-div {
  position: absolute;
  z-index: 8;
}
/*// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }*/
